# Postgres
POSTGRES_USER=automatic_kyc
POSTGRES_PASSWORD=automatic_kyc_password
POSTGRES_DB=automatic_kyc_db
POSTGRES_PORT=5432

# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_ERLANG_COOKIE=mysecretcookie
RABBITMQ_PORT=5671
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_PROMETHEUS_PORT=15692

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

# Worker
WORKER_TYPE=kyc_worker
PREFETCH=1

# API <-> RabbitMQ TLS/mTLS (Spring Boot)
RABBITMQ_SSL_ENABLED=true
RABBITMQ_SSL_VERIFY_HOSTNAME=true
RABBITMQ_TRUSTSTORE_PASSWORD=changeit
RABBITMQ_KEYSTORE_PASSWORD=changeit

# API
JWT_SECRET_KEY=change-me-to-a-long-random-secret
JWT_ISSUER=automatic-kyc
APP_ENV=dev
APP_ENCRYPTION_MASTER_KEY=change-me-to-32-bytes-base64-key=
KYC_FLOW_BASE_URL=https://verify.kyc_thesis.francmatyas.com/v
CORS_ALLOWED_ORIGINS=https://kyc-admin.francmatyas.com,https://kyc-verify.francmatyas.com

# API bootstrap (optional)
APP_BOOTSTRAP_ENABLED=false
APP_BOOTSTRAP_ADMIN_EMAIL=admin@example.com
APP_BOOTSTRAP_ADMIN_PASSWORD=change-me

# S3 / MinIO
S3_BUCKET=automatic-kyc-localhost
S3_ENDPOINT=https://kyc-minio.francmatyas.com
S3_WORKER_PRESIGN_ENDPOINT=https://kyc-minio.francmatyas.com
S3_PUBLIC_BASE_URL=https://kyc-minio.francmatyas.com/automatic-kyc-localhost

# Traefik hosts
API_HOST=kyc-api.francmatyas.com
ADMIN_HOST=kyc-admin.francmatyas.com
VERIFY_HOST=kyc-verify.francmatyas.com
MINIO_HOST=kyc-minio.francmatyas.com
MINIO_CONSOLE_HOST=kyc-minio-console.francmatyas.com

# Admin frontend build args
VITE_ADMIN_API_URL=https://kyc-api.francmatyas.com
VITE_ADMIN_WS_URL=wss://kyc-api.francmatyas.com

# Verify frontend build args
VITE_VERIFY_API_BASE_URL=https://kyc-api.francmatyas.com
